<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebScrapper</title>
     <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
     <link rel="stylesheet" href="static/style.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<div class="content">
    <div class="glass">
        <header class="page-header">
            <div class="avatar">
                <img src="#" alt="">
            </div>
            <h1> WebScrapper made by Carina Boldea </h1>
            <p> This works as....</p>
        </header>
        
        <div class="container">
            <form action="" method="get" class="form-web">
                <div class="form-web">
                    <label for="URL_site">Enter your URL: </label>
                    <input type="URL_site" name="URL_site" id="URL_site" required>
                </div>
                <div class="form-web">
                    <label for="email">Enter your email: </label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-web">
                    <label for="number">Enter your price: </label>
                    <input type="number" name="number" id="number" required>
                </div>
        
                <div class="form-web">
                    <input type="submit" value="Start!">
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>